<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% if page.title %}{{ page.title }} – {% endif %} {{ site.name }} – {{ site.description }}</title> {% include meta.html %}
<!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
	{% include nav.html %}
	<div id="main" role="main" class="container">{{ content }}</div>
	<div class="wrapper-footer">
		<div class="container">
			<footer class="footer"> {% include svg-icons.html %} </footer>
		</div>
	</div>
	{% include analytics.html %}
	<!-- /container -->
	<script src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
