<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>
	{% if page.title %}
		{{ page.title }} – 
	{% endif %} 
	{{ site.name }} 
	{% if page.description %}
		- {{ page.description }}
	{% endif %} 
</title>
	{% include meta.html %}
<!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
  {% include navtop.html %}
  {% include banner.html %}
  <div class="container-fluid master">
    <div id="row">
      <div id="left"></div>
      <div id="main" role="main" class="container">{{ content }}</div>
      <div id="right">
        <div>
          <!-- 公告部分 -->
          {% include boardcase.html %}
        </div>
      </div>
    </div>
  </div>
  {% include foot.html %} 
  {% include copyright.html %}
  <!-- /container -->
  <script src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  {% include navbottom.html %}
</body>
</html>
